@model IEnumerable<MechanicalWorkshop.Models.tbl_ServicesProvided>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description_Service)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Observation_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedCost_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraExpenses_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraExpensesDescription_Service)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FinalCost_Service)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.tbl_WorkOrders.Observation_WorkOrder)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description_Service)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Observation_Service)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.EstimatedCost_Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraExpenses_Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraExpensesDescription_Service)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FinalCost_Service)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.tbl_WorkOrders.Observation_WorkOrder)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Service }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Service }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Service })
        </td>
    </tr>
}

</table>
