@model IEnumerable<MechanicalWorkshop.Models.tbl_Vehicles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand_Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model_Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName_Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Economic_Number_Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Clients.Name_Client)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand_Vehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model_Vehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName_Vehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Economic_Number_Vehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Clients.Name_Client)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Vehicle }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Vehicle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Vehicle })
        </td>
    </tr>
}

</table>
