@model IEnumerable<MechanicalWorkshop.Models.tbl_WorkOrders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate_WorkOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate_WorkOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observation_WorkOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalCost_WorkOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_WorkOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Clients.Name_Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Vehicles.Brand_Vehicle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate_WorkOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate_WorkOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observation_WorkOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalCost_WorkOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_WorkOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Clients.Name_Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Vehicles.Brand_Vehicle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_WorkOrder }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_WorkOrder }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_WorkOrder })
        </td>
    </tr>
}

</table>
